body{
	margin: 0;
	background-color: white; 
} 

header{
	width: 100%;  
	height:auto;
	display:flex; 
	justify-content: flex-end;
	background: linear-gradient(black, #531008);
} 

.logo img{
	width: 90%; 
	height: auto; 
}
nav{ 	
	
	width: 75%;
	height: auto; 
	display: flex;
	justify-content: space-evenly;
	align-items: center
} 

nav a:link{ 
color:#b99c72; 

}
nav a:visited{ 
color:#b99c72;

}

logo1{
		width:30%;
		height:auto;
}

.logo1 a:link{
	width:100%;
	text-align:center;	
}

.foto img{ 
width:100%; 
height:auto ;  
}

main{ 
	display: flex;
	background-color:white; 
	width:100%;
	height:auto; 
	flex-direction: column; 
}
 .texto, h1{ 
	 color: #692701;  
	  font-size:20px;  
      text-align: center; 	  
 } 

.texto, h2{  
	 color:#b88204;   
	 font-size:15px;     
	 text-align: center; 
 }

footer{
	   background-image:linear-gradient(#5a1209, black);
	   width:100%;
       height:auto;
	   display:flex;
	   align-items:center;
	   justify-content:space-around;
       font-size:17px;
	  
}
.contacto{
       
	   color:white;
	   width:30%;
       height:auto;
     
}

.iconos{
	   
	   width:45%;
       height:auto
}

.logofooter {
    width: 7%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 17px;
    text-align: justify;
    line-height: 30px;
    color: #5c5c5c;
}

.standard{
		width: 100%;
		height: auto;
		display: flex;
}

section img{
		margin-top: 4%;
		margin-left: 2%;
		border-radius: 10px;
}

.standard aside{
		display: flex;
		flex-direction: column;
}

aside h2{
		padding-top: 10%;
		padding-left: 50px;
		color:#a9711c;
		font-size:25px; 
}

aside p{
		color: gray;
		margin-top: -0.5%;
		padding-left: 4%;
		padding-right: 2%;
		text-align: justify;
		font-size: 20px;
		line-height: 30px;
		font-family: Georgia,  serif;
}

aside li{
		color: gray;
		line-height: 32px;
		font-size: 16px;
		font-family: Georgia, serif;
}

aside ul{
		padding-right: 5%;
		padding-left: 8%;
		margin-bottom: 3%; 
}

.superior{
		width: 100%;
		height: auto;
		display: flex;
}

.superior aside{
		display: flex;
		flex-direction: column;
}
section img{
		margin-top: 4%;
		margin-left: 2%;
		border-radius: 10px;
		margin-bottom:5%; 
}

footer p {
	color: white; 
	text-align: center; 
}

footer, .img{ 
display: flex;
}


 @media screen and (max-width: 800px){
	header{
			height:auto;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			width: 100%;
		}
		nav{
			width: 100%;
			height: auto;
			flex-direction: column;
			align-items: center;
			margin: auto;
			padding-bottom: 4%;
			margin-top: 1%;
		}
		nav a:link{
			font-size:18px;
			line-height:22px;
			
		}
		.logo1{
			display:flex;
			justify-content: center;
			width:90%;
			height:auto;
			margin-left: 1%;
		}
		.logo1 img{
			width:80%;
			height:auto;
			margin-bottom: 2%;
		}
		.logo a:link{
			width:90%;
			height:auto;
		}
		
		footer{
			display:flex;
			flex-direction: column;
			height: auto;
			width: 100%;
		}
		footer .logo2{
			margin-top: 3%;
			width: 70%;
			height: auto;
			display:flex;
			justify-content: center;
			margin-left: 15%;
		}
		footer .contacto{
			text-align:center;
		}
		footer .iconos{
			display: flex;
			flex-direction: column;
			margin-left:5%;
		}
		.standard, .superior{
			display:flex;
			flex-direction: column;
			height: auto;
			width: 100%
		}
		.standard section img{
			padding-top: 2%;
			margin: 0;
			width: 100%;
			height: auto;
		}
		.standard li{
			font-size: 20px;
			line-height: 35px;
		}
		.standard aside h2{
			display: flex;
			text-align: center;
		}
		.standard aside p{
			padding-left: 2%;
			padding-right: 2%;
			line-height: 32px;
		}
		.superior aside h2{
			display: flex;
			text-align: center;
		}
		.superior section img{
			padding-top: 3%;
			margin: 0;
			width: 100%;
			height: auto;
		}
		.superior li{
			font-size: 20px;
			line-height: 35px;
		}
		.superior aside p{
			padding-left: 3%;
			padding-right: 3%;
			line-height: 32px;
		}
		.logo{
			display: flex;
			justify-content: center;
			margin-left: 5.5%;
		}
		.logo img{
			width:84.5%;
			height:auto;
			justify-content: center;
			margin-bottom: 2%;
		}
}
